# Ignore virtual environments
venv/
.venv/
.env

# Ignore system files
__pycache__/
*.pyc
*.pyo
.DS_Store

# Ignore logs & databases
logs/
*.log
*.sqlite3

# These are for keyboard control, lets ignore them
TelloInput.py
TelloMain.py